<!DOCTYPE html>
<html>
    <head>
        <title>Mapa Virtual</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <center>
            <h1>Mapa Virtual</h1>
        </center>
        <table>
            <tr>
                <td>
                    <dl>
                        <dt><h2>Nome da Cidade</h2></dt>
                    </dl>
                    <p>
                        <b>População: </b>
                        "população"
                    </p>
                    <p>
                        <b>Descrição: </b>
                        Ex ea reprehenderit occaecat laborum adipisicing commodo nulla deserunt laboris laboris cupidatat aliquip magna laborum. Tempor ipsum qui eiusmod cillum amet esse elit fugiat ex nulla labore voluptate occaecat ipsum. Consectetur ut reprehenderit ullamco nostrud tempor deserunt ea adipisicing incididunt.
                    </p>
                    <p>
                        <b>Distrito:  </b>
                        "distrito"
                    </p>
                    <p>
                        <b>Ligações:  </b>
                    </p>

                    <dd>
                        <ul>
                            <li>
                                <a href="/cod_C">Nome da Cidade Destino</a>
                            </li>
                            <p>
                                <b>Distância:  </b>
                                "123" Km
                            </p>
                        </ul>    
                    </dd>
                </td>
            </tr>
        </table>
    </body>
</html>
