
footer{
    position: fixed;
    bottom: 0;
}

h1 {
    text-align: center;                         /* Centraliza o texto */
    font-size: 3rem;                            /* Tamanho da fonte */
    font-weight: bold;                          /* Define a espessura da fonte como negrito */
    font-family: "Helvetica Neue", sans-serif;  /* Define a família da fonte */
    color: rgb(51, 51, 51);                   /* Define a cor do texto */
    text-transform: uppercase;                  /* Transforma todo o texto em maiúsculo */
    letter-spacing: 0.1em;                      /* Define o espaçamento entre as letras */
}

h2 {
    margin-left: 80px;
    font-size: 1.7rem;                            /* Tamanho da fonte */
    font-weight: bold;                          /* Define a espessura da fonte como negrito */
    font-family: "Helvetica Neue", sans-serif;  /* Define a família da fonte */
    color: rgb(51, 51, 51);                   /* Define a cor do texto */
    text-transform: uppercase;                  /* Transforma todo o texto em maiúsculo */
    letter-spacing: 0.1em;                      /* Define o espaçamento entre as letras */
}

h3 a {
    margin: 27px;
    font-size: 0.8rem;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: rgb(51, 51, 51);  /* Atribui uma cor ao texto */
    text-decoration: none;  /* Define que o texto não é sublinhado */
}

p {
    text-align: justify;
    margin-left: 80px;  /*  */
}

ul {
    list-style-type: none;                             /* Retira os pontos da lista ??????????????????????????????????????????*/
    overflow: hidden;                                  /* ??????????????????????????????????????????????????????????????????? */                                           
    background-image: url('italia/background.jpg');    /* Atribui uma imagem à lista */
    background-attachment: fixed;                      /* A imagem mantém sempre as suas proporções */
    background-size: cover;                            /* A imagem passa a cobrir toda a página html */
}
  
li {
    float: left;    /* Cria uma lista horizontal tornando os item float*/
}
  
li a {
    display: block;             /* Permite definir uma caixa para cada elemento ????????????????????????????????? */
    color: white;             /* Atribui uma cor ao texto */
    padding: 25px 30px;         /* Altura | Largura da caixa */
    text-decoration: none;      /* Define que o texto não é sublinhado */
    font-size: 0.9rem;
    text-transform: uppercase; 
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}
  
li a:hover {
    background-color: #1111118e;   /* A imagem muda de cor quando o rato passa por cime */
}

div.gallery {
    margin: 2px;
    float: left;
    width: 600px;
}
  
div.gallery:hover {
    opacity: 0.5;
}

div.gallery img {
    width: 100%;
    height: auto;
}
  