
footer{
    position: relative;      /* Posiciona o rodapé na página, o relative impede que apareça por cima de conteúdo */
    bottom: 0;              /* O footer mantém-se no final da página */
}

h1 {
    text-align: center;                         /* Centraliza o texto */
    font-size: 3rem;                            /* Tamanho da fonte */
    font-weight: bold;                          /* Define a espessura da fonte como negrito */
    font-family: "Helvetica Neue", sans-serif;  /* Define a família da fonte */
    color: rgb(51, 51, 51);                   /* Define a cor do texto */
    text-transform: uppercase;                  /* Transforma todo o texto em maiúsculo */
    letter-spacing: 0.1em;                      /* Define o espaçamento entre as letras */
}

h2 {
    margin-left: 80px;
    font-size: 1.7rem;                          /* Tamanho da fonte */
    font-weight: bold;                          /* Define a espessura da fonte como negrito */
    font-family: "Helvetica Neue", sans-serif;  /* Define a família da fonte */
    color: rgb(51, 51, 51);                   /* Define a cor do texto */
    text-transform: uppercase;                  /* Transforma todo o texto em maiúsculo */
    letter-spacing: 0.1em;                      /* Define o espaçamento entre as letras */
}

h3 {
    margin-left: 80px;
    font-size: 1.0rem;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
}

h3 a {
    font-size: 0.8rem;                          /* Atribui um tamanho ao texto */
    color: rgb(51, 51, 51);                   /* Atribui uma cor ao texto */
    text-decoration: none;                      /* Define que o texto não é sublinhado */
}

p {
    text-align: justify;
    margin-left: 80px;  
    margin-right: 80px;  

}

ul {
    list-style-type: none;                             /* Retira os pontos da lista como none */
    overflow: hidden;                                  /* Quando um conteudo (background) não couber na área o excesso é cortado e o resto fica visivel */                                           
    background-image: url('italia/background.jpg');    /* Atribui uma imagem à lista */
    background-attachment: fixed;                      /* A imagem mantém sempre as suas proporções */
    background-size: cover;                            /* A imagem passa a cobrir toda a página html */
}
  
li {
    float: left;    /* Cria uma lista horizontal tornando os item float*/
}
  
li a {
    display: block;             /* Define o elemento como um bloco que pode ser modificado */
    color: white;             /* Atribui uma cor ao texto */
    padding: 25px 30px;         /* Altura | Largura da caixa */
    text-decoration: none;      /* Define que o texto não é sublinhado */
    font-size: 0.9rem;
    text-transform: uppercase; 
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
}
  
li a:hover {
    background-color: #1111118e;   /* A imagem muda de cor quando o rato passa por cima */
}

div.gallery {
    display: block;             /* Define o elemento como um bloco que pode ser modificado; mantém as coisas separadas */  
    margin-left: 200px;
    margin-right: 200px;
}

div.gallery img {
    width: 100%;            /* Ocupa a largura total da div */
    height: auto;           /* Altura de cada imagem */
}

div.gallery img:hover {
    opacity: 0.5;
}
